@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    color: white;
    font-weight: 600;
}

body {
    font-family: Nunito, sans-serif;
    color: white;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    background-color: rgb(39, 38, 38);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #000000;
}

.btn{
    margin-top: -20px;
}

a {
    margin: 7px 10px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: white;
    color: black;
    text-decoration: none;
}

a:hover {
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    text-decoration: none;
    background-color: yellow;
    color: black;
}

button {
    padding: 8.5px 12px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: Nunito, sans-serif;
    font-weight: 600px;
    border: none;
    background-color: white;
    font-size: 15px;
}

button:hover {
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    text-decoration: none;
    background-color: yellow;
    color: black;
}

input{
    border-color: white;
    color: white;
    background-color: black;
    border-radius: none;
    box-sizing: border-box;
    padding: 5px 20px;
    margin: 0px;
}

input:focus{
    outline: none;
}

label{
    margin: -15px;
    font-size: 20px;
}

form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}